<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<h3>About me</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My name is Isaac Sundberg; my pronouns are he/they.
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				I am a sixth-year graduate student in mathematics at Bryn Mawr College, and I expect to graduate this spring (2022). My advisor is <a href="http://www.brynmawr.edu/math/people/melvin/">Paul Melvin</a>.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My <a href="{{ site.baseurl }}/research/index.html">research</a> interests are in low-dimensional topology, and in particular, I use Khovanov homology to study 3 and 4-dimensional properties of surfaces bounding knots and links.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<a href="{{ site.baseurl }}/files/CurriculumVitae.pdf">Here is my CV</a>.
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				I enjoy math, but I also enjoy music, climbing, and playing chess.
			</div>
		</div>

	</div>
	
	<div class="col-sm-4">
		<div id="img-container">
			<img src="{{ site.baseurl }}/files/img.jpg" id="img">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<h3>Contact Information</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<b>Email</b>: icraig [at] brynmawr [dot] edu
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<h3>Upcoming and Recent</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<table>
					<tr>
						<th style="width: 140px">January 24</th>
						<th>I will be speaking at the <a href="https://math.duke.edu/geometry-topology-events">Duke Geometry &amp; Topology Seminar</a>.</th>
					</tr>
					<tr>
						<td>September 14 - October 19</td>
						<td>I am currently giving a series of five talks at the <a href="https://www.brynmawr.edu/math/pact-seminar">PACT (Philadelphia Area Contact Topology) Seminar</a>. Here are my lecture notes: <a href="{{ site.baseurl }}/files/talk_pact_1.pdf">talk 1</a>; <a href="{{ site.baseurl }}/files/talk_pact_2.pdf">talk 2</a>; <a href="{{ site.baseurl }}/files/talk_pact_3.pdf">talk 3</a>; <a href="{{ site.baseurl }}/files/talk_pact_4.pdf">talk 4</a>.</td>
					</tr>
					<tr>
						<td style="padding: 1px"></td>
					</tr>
					<tr>
						<td style="padding: 1px"></td>
					</tr>
					<tr>
						<td>October 4</td>
						<td>I spoke at the <a href="https://sites.google.com/view/anthony-conway/activities/mit-geometry-and-topology-seminar-fall-2021">MIT Geometry and Topology Seminar</a>. Here are my <a href="{{ site.baseurl }}/files/talk_mit.pdf">slides</a>.</td>
					</tr>
					<tr>
						<td>September 24</td>
						<td>I spoke at the <a href="https://www.math.columbia.edu/~gtseminar/">Columbia Geometric Topology Seminar</a>. Here are my <a href="{{ site.baseurl }}/files/talk_columbia.pdf">slides</a>.</td>
					</tr>
					<tr>
						<td>September 21</td>
						<td>I spoke at the <a href="https://www.brynmawr.edu/math/seminars-and-colloquia/graduate-research-seminar">Bryn Mawr Graduate Research Seminar (GRS)</a>.</td>
					</tr>
					<tr>
						<td>June 14 - 25</td>
						<td>I spoke at the <a href="https://www.ncngt.org/">Nearly Carbon Neutral Geometric Topology Conference</a> in the <a href="https://www.ncngt.org/topic-groups/knots-braids">Knots &amp; Braids</a> topic group (<a href="/files/postcard.png">check out my postcard</a>).</td>
					</tr>
					<tr>
						<td>April 14</td>
						<td>I spoke at the <a href="https://aimath.org/programs/researchcommunities/4dtopology/">4-dimensional Topology AIM Research Community</a> current events seminar. Here are my <a href="{{ site.baseurl }}/files/talk_ami.pdf">slides</a>.</td>
					</tr>
				</table>
				<!--
				<ul style="list-style:none">
					<li class="ind"><b>TBD</b>
						<span style="color:white;margin-right:4.15em; dispaly:inline-block;">&nbsp;</span>
						I am speaking at the <a href="https://math.duke.edu/geometry-topology-events">Duke Geometry &amp; Topology Seminar</a>
					</li>
					<li class="ind"><b>October 4</b>
						<span style="color:white;margin-right:1.8em; display:inline-block;">&nbsp;</span> 
						I am speaking at the <a href="https://sites.google.com/view/anthony-conway/activities">MIT Geometry and Topology Seminar</a></li>
					<li class="ind"><b>Sept 14, 21</b>
						<span style="color:white;margin-right:1em; dispaly:inline-block;">&nbsp;</span>
						I am speaking at the <a href="https://www.brynmawr.edu/math/pact-seminar">PACT (Philadelphia Area Contact Topology) Seminar</a></li>
					<li class="ind"><b>June 14-25</b>
						<span style="color:white;margin-right:1.3em; display:inline-block;">&nbsp;</span>
						I was a speaker at the <a href="https://www.ncngt.org/">Nearly Carbon Neutral Geometric Topology Conference</a> in the <a href="https://www.ncngt.org/topic-groups/knots-braids">Knots &amp; Braids</a> topic group (<a href="/files/postcard.png">check out my postcard</a>)</li>
					<li class="ind"><b>April 14</b>
						<span style="color:white;margin-right:2.8em; display:inline-block;">&nbsp;</span> 
						I spoke at the current events seminar for the <a href="https://aimath.org/programs/researchcommunities/4dtopology/">4-dimensional Topology AIM Research Community</a></li>
				</ul>
				-->
			</div>
		</div>

	</div>
</div>

