<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<hr>
				<h3>About me</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				I am currently a postdoctoral fellow at the <a href="https://www.mpim-bonn.mpg.de/">Max Planck Institute for Mathematics</a>. I completed my PhD at <a href="https://www.brynmawr.edu/inside/academic-information/departments-programs/mathematics">Bryn Mawr College</a> in 2022, and beforehand, I was a student at the <a href="https://www.uwlax.edu/mathematics/">University of Wisconsin La Crosse</a>.
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My <a href="{{ site.baseurl }}/research/index.html">research</a> interests are in low-dimensional topology, where I use Khovanov homology theories to study knots and surfaces in 3- and 4-manifolds.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My pronouns are they/them.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My CV is available <a href="{{ site.baseurl }}/files/CurriculumVitae.pdf">here</a>.
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My email is [sundberg@mpim-bonn.mpg.de].
			</div>
		</div>

	</div>
	
	<div class="col-sm-4">
		<div id="img-container" class="tooltip">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="{{ site.baseurl }}/files/isaac.jpg" id="img"></a>
  			<span class="tooltiptext">Banff 2022 (photo by Patrick Naylor)</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<hr>
				<h3>Upcoming and Recent</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<a href="https://www.mfo.de/occasion/2304/www_view">Morphisms in Low Dimensions</a>, workshop at Oberwolfach (Jan 2023)
				<br>
				<a href="https://www.math.uni-hamburg.de/home/wedrich/ResSem.html">Research Seminar on Quantum Topology and Categorification (QTCat)</a> (Jan 2023)
				<br>
				<a href="https://www.mpim-bonn.mpg.de/calendar">MPIM Low-dimensional Topology Seminar</a> (Nov 2022)
				<br>
				<a href="https://sites.rutgers.edu/bin-guo/colloquium/">Rutgers-Newark colloquium</a> (Nov 2022)
				<br>
				<a href="https://www.math.upenn.edu/events/1-kusner-steklov-eigenspaces-and-free-boundary-minimal-surfaces-2-sundberg-khovanov-homology">Philadelphia Area Topology/Contact/Hyperbolic (PATCH) Seminar</a> (Nov 2022)
				<br>
				<a href="https://www.birs.ca/events/2022/5-day-workshops/22w5065">Topology in Dimension 4.5</a>, workshop at BIRS (Nov 2022)
				<br>
				<a href="https://www.mpim-bonn.mpg.de/TopologySeminar">MPIM Topology Seminar</a> (Sep 2022)
				<br>
				<a href="https://www.mpim-bonn.mpg.de/calendar">MPIM Low-dimensional Topology Seminar</a> (Sep 2022)
				<br>
				<a href="https://www.mi.fu-berlin.de/dmv2022/index.html">Algebra and Low-Dimensional Topology</a>, minisymposium at DMV Annual Meeting in Berlin (Sep 2022)			
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<hr>
			</div>
		</div>

	</div>
</div>

