<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<h3>About me</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My name is Isaac Sundberg; my pronouns are he/they.
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				I am a sixth-year graduate student in mathematics at Bryn Mawr College, and I expect to graduate this spring (2022). My advisor is <a href="http://www.brynmawr.edu/math/people/melvin/">Paul Melvin</a>.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				My <a href="{{ site.baseurl }}/research/index.html">research</a> interests are in low-dimensional topology, specifically, I use Khovanov homology to study 3 and 4-dimensional properties of surfaces bounding knots and links.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<a href="{{ site.baseurl }}/files/CurriculumVitae.pdf">Here is my CV</a>.
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				Please feel free to contact me at icraig [at] brynmawr [dot] edu
			</div>
		</div>

	</div>
	
	<div class="col-sm-4">
		<div id="img-container">
			<img src="{{ site.baseurl }}/files/img.jpg" id="img">
		</div>
	</div>
</div>

<div class="row">
	<div style="padding: 13pt;"></div>
</div>

<div class="row">

	<div class="col-sm-8">
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<h3>Upcoming and Recent</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10" id="space">
				<ul style="list-style:none">
					<!--<li class="hanging-indent"><b>October 11</b> - I am speaking at the <a href="https://math.duke.edu/geometry-topology-events">Duke Geometry &amp; Topology Seminar</a></li>-->
					<li class="hanging-indent"><b>October 4</b> &nbsp;- I am speaking at the <a href="https://sites.google.com/view/anthony-conway/activities">MIT Geometry and Topology Seminar</a></li>
					<li class="hanging-indent"><b>June 14-25</b> - I was a speaker at the <a href="https://www.ncngt.org/">Nearly Carbon Neutral Geometric Topology Conference</a> in the <a href="https://www.ncngt.org/topic-groups/knots-braids">Knots &amp; Braids</a> topic group (<a href="/files/postcard.png">check out my postcard</a>)</li>
					<li style="hanging-indent"><b>April 14</b> &nbsp;&nbsp;- I spoke at the current events seminar for the <a href="https://aimath.org/programs/researchcommunities/4dtopology/">4-dimensional Topology AIM Research Community</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>

